<div class="table-responsive">
    <table class="table table-hover">
        <Thead>
            <tr>
                <th scope="col">Country/State/City</th>
                <th scope="col">Date</th>
                <th scope="col">Max-Temp</th>
                <th scope="col">Min-Temp</th>
                <th scope="col">Cloud</th>
            </tr>
        </Thead>
        <Tbody>
            <tr *ngFor="let weather of weather_forecast; index as i" [attr.data-index]="i">
                <td>{{city_detail.country_code}} {{city_detail.state_code}} {{city_detail.city_name}}</td>
                <td>{{weather.datetime}}</td>
                <td>{{weather.max_temp}}</td>
                <td>{{weather.min_temp}}</td>
                <td>{{weather.clouds}}</td>
            </tr>
        </Tbody>
    </table>
</div>

<div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
</div>